.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.title_header {
  border: 1px solid black;
  color:red;
  background-color: #aaaeae;
  text-align: center;
  min-height: 5rem;
}
.mainImage {
  width: 400px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.footer {
  border: 1px solid black;
  color:white;
  background-color: black;
  text-align: center;
  min-height: 5rem;
  font-size: 20px;
}
@Media (max-width: 500px){
  .title_header {
    border: 1px solid black;
    color:red;
    padding-top:5%;
    background-color: #aaaeae;
    text-align: center;
    min-height: 5rem;
  }
  .mainImage {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .footer {
    border: 1px solid black;
    color:white;
    background-color: black;
    text-align: center;
    min-height: 5rem;
    font-size: 15px;
    padding-top: 0.75rem;
  }
}
