/* .bandwidth {
    box-sizing: border-box;
    background-color: rgb(175, 173, 173);
}
.bandwidth-left {
    float: left;
    margin-right: 30%;
}
.bandwidth-right {
    float: right;
    margin-right: 30%;
} */